<div class="">
    <div class="row">
      <section class="vh-100 fondo">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-12 col-lg-12 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black tarjeta">
  
                        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
  
                        <div class="form-group estudios">
                          <i class="fas fa-cubes fa-2x me-3"></i>
                          <span class="h1 fw-bold mb-0 ">Agregar educacion</span>
                        </div>
                        <div class="form-outline mb-4">
                          <label for="nombreE">Nombre de la institucion</label>
                          <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
                        </div>
  
                        <div class="form-group">
                          <label for="descripcionE">Descripcion de sus estudios</label>
                          <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
                        </div>
  
                        <div class="pt-1 mb-4">
                          <button class="btn btn-primary">
                            Agregar educacion
                          </button> 
                        </div>
                      </form>
  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>