<div class="row">
    <div class="h-100 color p-4 rounded-3 cont">
    <h1>Proyectos realizados</h1>
    <div class="h-100 p-4 color2 cont2">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1"> 
            <h1>Portfolio web</h1>
            <p class="normal">Este proyecto de portafolio web, es un trabajo practico final de la segunda y ultima etapa de estudio llamada "YoProgramo" de la iniciativa Argentina Programa, impulsada principalmente por INTI (Instituto Nacional de Tecnología Industrial), CESSI (Cámara de la Industria Argentina del Software) y el Ministerio de Desarrollo Productivo de Argentina.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="https://frontendguido-46860.web.app/" target=”_blank”><img src="../../../assets/proyecto1.jpg" class="img-fluid img-proyecto"></a>
        </div>
    </div> 
</div>
</div>