<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/ARGPRLogo.png" id="logoARGPR">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.linkedin.com/in/guido-emanuel-nu%C3%B1ez-1ab67a254/" target=”_blank”><img src="../../../assets/linkedin.png" alt="linkedin"></a>
                <a href="https://twitter.com/GuidoEmanuelNu1" target=”_blank”><img src="../../../assets/twitter.png" alt="twitter"></a>
                <!--<a href=""><img src="../../../assets/instagram.png" alt="instagram"></a>-->
                <a href="https://github.com/guido-nunez" target=”_blank”><img src="../../../assets/github.png" alt="github"></a>
                <!--<a href=""><img src="../../../assets/facebook.png" alt="facebook"></a>-->
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
            </div>
        </div>
    </div>
</div>
