<div class="row">
    <h1>experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure provident commodi quidem molestiae, laudantium, consequuntur ex accusantium sed eum ut nam inventore rem aut maiores quo! Reiciendis quidem dolores expedita.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure provident commodi quidem molestiae, laudantium, consequuntur ex accusantium sed eum ut nam inventore rem aut maiores quo! Reiciendis quidem dolores expedita.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure provident commodi quidem molestiae, laudantium, consequuntur ex accusantium sed eum ut nam inventore rem aut maiores quo! Reiciendis quidem dolores expedita.
            </p>
        </ul>
    </div>
</div>