<div class="row">
    <div class="h-100 color p-4 rounded-3 cont">
    <h1>Hard & soft skills</h1>
    <div class="h-100 p-4 color2 cont2">
    <div class="col-lg-2 color2">
        <button type="button" routerLink="/newskill" class="btn btn-dark new" *ngIf="isLogged">Nueva Skill</button>
    </div>

 
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress 
        [percent]="(skill.porcentaje)" 
        [radius]="100" 
        [imageSrc]="''" 
        [title]="(skill.nombre)"
        [titleColor]="'#212F3C'"
        [showTitle]="true" 
        [showImage]="false" 
        [imageHeight]="70" 
        [imageWidth]="70" 
        [showUnits]="false"
        [titleFontSize]="'3em'" 
        [showSubtitle]="false"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="2" 
        [outerStrokeColor]="'#78C000'" 
        [innerStrokeColor]="'#C7E596'"
        [animation]="true" 
        [animationDuration]="3000" 
        [lazy]="false"> </circle-progress>

        <div class="edit">
            <td *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-fill"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash3-fill"></i></button>
            </td>
        </div>
    </div>
    </div>
</div>
</div>